@require 'nib'
@require 'bootstrap/_variables'

slider
	display block
	position relative
	height input-height-base

	.bar
		height 50%
		top 25%
		left 0
		z-index 0
		background gray-lighter
		border-radius border-radius-base
		cursor pointer

		&.selection
			background brand-info

		&.unselected
			background brand-info

	&[ng-model-range] .bar
		&.unselected
			background gray-lighter

	.pointer
		cursor pointer
		width (input-height-base / 1)
		border-radius border-radius-base
		top 0
		bottom 0
		background-color brand-primary

		&:hover
		&.active
			background-color brand-danger

	.bubble
		font-size (font-size-base * .75)
		line-height input-height-base
		text-align center
		text-shadow none
		top -75%

		&.selection
		&.limit
			top 50%

